/*
* Refs:;
* https://github.com/Alexays/Waybar/wiki/Styling
* https://developer.gnome.org/gtk3/stable/chap-css-overview.html
*/

@define-color color_bg #222222;
@define-color color_bg_contrast lime;
@define-color color_active #444444;
@define-color color_active_contrast white;
@define-color color_success green;
@define-color color_success_contrast white;
@define-color color_error red;
@define-color color_error_contrast white;
@define-color color_warning orange;
@define-color color_warning_contrast white;

* {
  min-height: 0;
  border: none;
  border-radius: 0;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
}

/* -----------------------------------------------------------------------------
* Animations
* --------------------------------------------------------------------------- */
@keyframes blink {
  to {
    background-color: white;
    color: black;
  }
}

/* -----------------------------------------------------------------------------
* General
* --------------------------------------------------------------------------- */
label:focus {
  background-color: red;
}

window#waybar {
  /*background-color: rgba(43, 48, 59, 0.5);*/
  /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
  background: @color_bg;
  font-size: 13px;
  color: @color_bg_contrast;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

/*
window#waybar.empty {
  background-color: transparent;
}
window#waybar.solo {
  background-color: #FFFFFF;
}
*/

#mode,
#backlight,
#battery,
#clock,
#cpu,
#idle_inhibitor,
#memory,
#network,
#pulseaudio,
#temperature,
#tray,
#custom-keyboard-layout {
  padding: 8px;
  margin: 0 2px;
}

/* -----------------------------------------------------------------------------
* Modules
* --------------------------------------------------------------------------- */

/*
* sway/workspaces
*/
#workspaces {
  margin: 0 9px 0 0;
}

#workspaces button {
  border-bottom: 3px solid transparent;
  padding: 3px 6px;
  margin: 0 3px;
  color: @color_bg_contrast;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background-color: @color_active;
  color: @color_active_contrast;
}

#workspaces button.focused {
  border-bottom: 3px solid @color_active_contrast;
  background-color: @color_active;
  color: @color_active_contrast;
}

#workspaces button.urgent {
  background-color: @color_warning;
  color: @color_warning_contrast;
}

/*
* sway/mode
*/
#mode {
  border-bottom: 3px solid @color_bg_contrast;
}

/*
* backlight
*/
#backlight {}

/*
* battery
*/
#battery {}

#battery.charging {
  background-color: @color_success;
  color: @color_success_contrast;
}

#battery.critical:not(.charging) {
  background-color: @color_error;
  color: @color_error_contrast;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*
* clock
*/
#clock {
  background-color: @color_active;
  color: @color_active_contrast;
}

/*
* cpu
*/
#cpu {}

/*
* idle inhibitor
*/
#idle_inhibitor {}

#idle_inhibitor.activated {
  background-color: @color_active;
  color: @color_active_contrast;
}

/*
* memory
*/
#memory {}

/*
* network
*/
#network {}

#network.disconnected {
  background-color: @Color_error;
  color: @Color_error_contrast;
}

/*
* pulseaudio
*/
#pulseaudio {}

#pulseaudio.muted {
  background-color: @color_error;
  color: @color_error_contrast;
}

/*
* temperature
*/
#temperature {}

#temperature.critical {
  background-color: @color_error;
  color: @color_error_contrast;
}

/*
* tray
*/
#tray {
  background-color: #2980b9;
}
